---
layout: index
title: Home
permalink: /
---



<div id="service" style="background:#dfe8ec;padding-top:50px;padding-bottom:50px;border-top: 1px solid #cedce3;border-bottom: 1px solid #cedce3;">
    <div class="container">
        <div class="row centered">

            <div class="col-md-4">
                <a href="{{site.baseurl}}/open/" ><img src="{{site.baseurl}}/assets/img/chart.png" width="60">
                <h4 style="color:#5d8aa2;font-size:18px;margin-bottom:0;font-weight:600;">Visualize</h4></a>
                <p class="text-muted" style="font-weight:300;">Lorem ipsum dolor sit amet, molestie eros cubilia, condimentum lacinia ligula habitasse et.</p>
            </div>

            <div class="col-md-4">
               <a href="{{site.baseurl}}/combine/"> <img src="{{site.baseurl}}/assets/img/magnifier.png" width="60">
            <h4 style="color:#5d8aa2;font-size:18px;margin-bottom:0;font-weight:600;">Search</h4></a>
                <p class="text-muted" style="font-weight:300;margin-top:5px;">Lorem ipsum dolor sit amet, molestie eros cubilia, condimentum lacinia ligula habitasse et.</p>
            </div>

            <div class="col-md-4">
                <a href="{{site.baseurl}}/expose/"><img src="{{site.baseurl}}/assets/img/cursor.png" width="60">
                <h4 style="color:#5d8aa2;font-size:18px;margin-bottom:0;font-weight:600;">Browse</h4></a>
                <p class="text-muted" style="font-weight:300;margin-top:5px;">Lorem ipsum dolor sit amet, molestie eros cubilia, condimentum lacinia ligula habitasse et.</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

 

<div class="hidden-sm hidden-xs">
{% include clients.html %}
</div>

<div class="jumbotron" style="background-color:#fff;margin-top:0px;margin-bottom:0;padding-top:25px;padding-bottom:100px;">
      <div class="container">
        <div class="row centered">
            <div class="col-md-10 col-md-offset-1">
            <h2 style="color:#2e4450;font-size:36px;font-weight:700;">How It Works</h2></br>
            <div class="col-md-4">
                <a href="{{site.baseurl}}/open/" ><h4 style="color:#2e4450;font-size:24px;margin-bottom:0;font-weight:400;">1. Open</h4></a>
                <p style="font-size:18px;line-height:1.5em;">Facilisis viverra ligula amet odio elit, hymenaeos diam, nullam a mattis suscipit, justo viverra quis, aliquam.</p>
            </div>

            <div class="col-md-4">
            <a href="{{site.baseurl}}/combine/"><h4 style="color:#2e4450;font-size:24px;margin-bottom:0;font-weight:400;">2. Combine</h4></a>
               <p style="font-size:18px;line-height:1.5em;">At dignissim enim nec commodo. Adipiscing porttitor consequat quis vitae, massa euismod venenatis dictum.</p>
            </div>

            <div class="col-md-4">
                <a href="{{site.baseurl}}/expose/"><h4 style="color:#2e4450;font-size:24px;margin-bottom:0;font-weight:400;">3. Expose</h4></a>
                <p style="font-size:18px;line-height:1.5em;">Consectetuer eleifend vitae purus elit odio rhoncus, pulvinar enim at phasellus sit dignissim senectus, velit vivamus.</p>
            </div>
            </div>
        </div>
      </div>
    </div>


    <div class="jumbotron" style="background-color:#eff3f6;margin-bottom:0;padding-top:40px;padding-bottom:40px;border-top: 1px solid #dee6ed;border-bottom: 1px solid #dee6ed;">
      <div class="container">
        <h3 class="home">Our Services</h3>
        <p>Custom information solutions based on your needs.</p>
        <p>Products: <a href="http://75.101.146.141">api-in-a-box.com</a>, <a href="{{site.baseurl}}/hosted-white-label-search/">White Label Hosted Search</a>.</p>
      </div>
    </div>





<div class="container mtb">
    <div class="row">

        <div class="col-lg-4">
        <h3 class="home">Social</h3>
            <a class="twitter-timeline" width="300" href="https://twitter.com/elastic" data-widget-id="715757921662078977" data-chrome="noheader transparent noborders nofooter">Tweets by @GovWizely</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="col-lg-4">
            <h3 class="home">Events</h3>
            <div class="hline"></div>
            {% for post in site.categories['question'] limit:4 %}
                <p>{{ post.date | date: "%b %-d, %Y" }}: <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></br>
                <csmall>{{ post.location }}</csmall></p>
            {% endfor %}

        </div>

        <div class="col-lg-4">
            <h3 class="home">Blog</h3>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:4 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></br>
                <csmall>{{ post.date | date: "%b %-d, %Y" }} | By: {{ post.author }}</csmall></p>
            {% endfor %}
        </div>


    </div><! --/row -->
</div><! --/container -->
